@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
body {
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* background: linear-gradient(#000000, #434343);  */
  background: linear-gradient( #bdc3c7, #2c3e50);

}
h1 {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
a {
    font-size: 1em;
    text-decoration:none;
    text-transform:uppercase;
}

.nav-container {
    background-image: linear-gradient(rgba(10, 255, 243, 0.418),rgba(59, 97, 138, 0));

}
.nav-container2{
    background-image: linear-gradient(rgba(133, 250, 0, 0.418),rgba(22, 18, 18, 0));

}
.nav-container3 {
    background-image: linear-gradient(rgba(252, 235, 2, 0.418),rgba(22, 18, 18, 0));

}
.nav-container4 {
    background-image: linear-gradient(rgba(247, 2, 2, 0.418),rgba(22, 18, 18, 0));

}
.nav-container, a {
    color: rgb(255, 255, 255);
}
header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.logo{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1em;
}
 ul {
    display: flex;
}
a {
    display: block;
    padding: 0 2em;
}

.indexTitle {
    font-family:'Teko';
    text-align: center;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-transform:uppercase;
}
.hireTitle {
    font-family:'Teko';
    text-align: center;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-transform:uppercase;
}
.projectTitle {
    font-family:'Teko';
    text-align: center;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-transform:uppercase;
}

.workTitle{
    font-family:'Teko';
    text-align: center;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-transform:uppercase;
}
   